In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.point import Point

In [2]:
geolocator = Nominatim(user_agent="ottableaudeveloper2@gmail.com")

In [3]:
df = pd.read_csv('data/clean.csv')

In [4]:
df_copy = df.head(10)

In [5]:
# df_grouped = df.groupby(['street_name', 'city', 'state'])['price'].count()
# df_grouped

In [6]:
df_copy

,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,square_meter,population
0,Vista Dr,Juneau,AK,58.285800,-134.41408,450000,3,2,123,"32,099"
1,David St,Juneau,AK,58.286762,-134.41832,220000,1,1,70,"32,099"
2,Riverside Dr,Juneau,AK,58.397495,-134.58340,329900,2,2,113,"32,099"
3,John St,Juneau,AK,58.288048,-134.42033,229000,2,2,108,"32,099"
4,Glacier Hwy,Juneau,AK,58.384464,-134.65596,279900,2,2,72,"32,099"
5,Mendenhall Loop Rd APT 35,Juneau,AK,58.380880,-134.57686,205000,2,2,94,"32,099"
6,Cinema Dr,Juneau,AK,58.381130,-134.58157,320000,2,2,111,"32,099"
7,Mendenhall Loop Rd,Juneau,AK,58.380880,-134.57686,205000,2,2,94,"32,099"
8,Sunset Dr,Juneau,AK,58.369877,-134.59240,460000,3,3,140,"32,099"
9,4 Douglas Hwy,Juneau,AK,58.293150,-134.42781,220000,2,2,79,"32,099"

In [7]:
# df['coordinate'] = df['latitude'].astype(str) + ', ' + df['longitude'].astype(str)

In [8]:
def reverse_geocoding(lat, lon):
    location = geolocator.reverse(Point(lat, lon))
    return location.address.split(',')[1]

In [ ]:
df['address'] = np.vectorize(reverse_geocoding)(df['latitude'], df['longitude'])

In [ ]:
df

In [ ]:
# loc = geolocator.reverse('58.380880, -134.59240')

In [ ]:
# print(loc.address)