In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/clean.csv')

In [3]:
df

,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,square_meter,population
0,Vista Dr,Juneau,AK,58.285800,-134.414080,450000,3,2,123,"32,099"
1,David St,Juneau,AK,58.286762,-134.418320,220000,1,1,70,"32,099"
2,Riverside Dr,Juneau,AK,58.397495,-134.583400,329900,2,2,113,"32,099"
3,John St,Juneau,AK,58.288048,-134.420330,229000,2,2,108,"32,099"
4,Glacier Hwy,Juneau,AK,58.384464,-134.655960,279900,2,2,72,"32,099"
...,...,...,...,...,...,...,...,...,...,...
26434,Rodenburg Rd APT 205,Roselle,IL,41.968853,-88.107346,100000,1,1,74,"22,744"
26435,Autumn Dr #1,Beecher,IL,41.345333,-87.599396,248000,2,2,138,"9,168"
26436,River St UNIT 3202,Lemont,IL,41.676180,-88.000520,180000,1,1,89,"17,131"
26437,Main St APT 312,West Chicago,IL,41.882423,-88.197480,172500,2,2,106,"26,998"
26438,Wildflower Rd #1143,Matteson,IL,41.496586,-87.697160,180000,2,2,130,"19,374"