Useful Links
https://www.bea.gov/sites/default/files/2022-11/lapi1122.pdf

In [1]:
import pandas as pd
import geopy
import numpy as np
from geopy.point import Point
# from geopy.geocoders import GoogleV3
# geolocator = GoogleV3(api_key='AIzaSyDqtfZoyFxDk9HAY3wZ-Dvuc4goIJoXSIc')
# geolocator = geopy.Nominatim(user_agent='inteliti')

In [2]:
df = pd.read_csv('data/df_final.csv')
zip_code = pd.read_csv('data/zip.csv')

In [3]:
# # Search coordinates from Google Maps API and return street name
# def search(address):
#     for a in address:
#         if a['types'] == ['route']:
#             return a['long_name']
#         elif a['types'] == ['neighborhood', 'political']:
#             return a['long_name']
#         elif a['types'] == ['establishment', 'point_of_interest', 'transit_station']:
#             return a['long_name']
#
# def reverse_geocoding(lat, lon):
#     location = geolocator.reverse(Point(lat, lon))
#     return search(location.raw['address_components'])

In [4]:
# location = geolocator.reverse('61.137340, -149.94580')
# print(location.raw['address_components'])

In [5]:
# location = geolocator.reverse('58.380880, -134.57686')
# print(location.raw['address_components'])

In [6]:
# location = geolocator.reverse('58.285800, -134.41408')
# print(location.raw['address_components'])

In [7]:
# [
# 	{'long_name': '43P3+WM', 'short_name': '43P3+WM', 'types': ['plus_code']},
# 	{'long_name': 'Sand Lake', 'short_name': 'Sand Lake', 'types': ['neighborhood', 'political']},
# ]
#
# [
# 	{'long_name': 'Mendenhall Loop Road and Cinema Drive', 'short_name': 'Mendenhall Loop Road and Cinema Drive', 'types': ['establishment', 'point_of_interest', 'transit_station']},
# 	{'long_name': 'Mendenhall Valley', 'short_name': 'Mendenhall Valley', 'types': ['neighborhood', 'political']},
# ]
#
# [
# 	{'long_name': '2551', 'short_name': '2551', 'types': ['street_number']},
# 	{'long_name': 'Vista Drive', 'short_name': 'Vista Dr', 'types': ['route']},
# 	{'long_name': 'West Juneau', 'short_name': 'West Juneau', 'types': ['neighborhood', 'political']},
# ]

In [8]:
# df_head.to_csv("data/head.csv")
# df_tail.to_csv("data/tail.csv")

In [9]:
# df_first = df.iloc[:8813]
# df_second = df.iloc[8813:17626]
# df_third = df.iloc[17626:]

In [10]:
# df_first['address'] = np.vectorize(reverse_geocoding)(df_first['latitude'], df_first['longitude'])

In [11]:
# df_second['address'] = np.vectorize(reverse_geocoding)(df_second['latitude'], df_second['longitude'])

In [12]:
# df_third['address'] = np.vectorize(reverse_geocoding)(df_third['latitude'], df_third['longitude'])

In [13]:
# df = pd.concat([df_first, df_second, df_third], ignore_index=True)

In [14]:
# df.drop('street_name', inplace = True, axis = 1)

In [15]:
# df = df[['address', 'city', 'state', 'latitude', 'longitude', 'bedroom_number', 'bathroom_number', 'square_meter', 'population', 'price']]

In [16]:
# df['population'] = df['population'].str.replace(',', '')

In [17]:
# df['population'] = pd.to_numeric(df['population'])

In [18]:
# df.to_csv('data/df_final.csv')

In [19]:
# location = geolocator.reverse('58.285800, -134.41408')
# print(location.raw['address']['postcode'])

In [20]:
# corr_matrix = df.corr()

In [21]:
# corr_matrix['price'].sort_values(ascending = False)

In [24]:
zip_code.drop(['price', 'bedroom_number', 'bathroom_number', 'property_type'], axis=1, inplace = True)

In [25]:
zip_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37163 entries, 0 to 37162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       37163 non-null  object
 1   state      37163 non-null  object
 2   latitude   35223 non-null  float64
 3   longitude  35223 non-null  float64
 4   postcode   37163 non-null  object
dtypes: float64(2), object(3)
memory usage: 1.4+ MB

In [26]:
df = pd.merge(df, zip_code,  how='left', on = ['city','state', 'latitude', 'longitude'])

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df

,address,city,state,latitude,longitude,bedroom_number,bathroom_number,square_meter,population,price,postcode
0,Vista Drive,Juneau,AK,58.285800,-134.414080,3,2,123,32099,450000,99801
1,David Street,Juneau,AK,58.286762,-134.418320,1,1,70,32099,220000,99801
2,Riverside Drive,Juneau,AK,58.397495,-134.583400,2,2,113,32099,329900,99801
3,John Street,Juneau,AK,58.288048,-134.420330,2,2,108,32099,229000,99801
4,Glacier Highway,Juneau,AK,58.384464,-134.655960,2,2,72,32099,279900,99801
...,...,...,...,...,...,...,...,...,...,...,...
106003,Rodenburg Road,Roselle,IL,41.968853,-88.107346,1,1,74,22744,100000,60172
106005,Autumn Drive,Beecher,IL,41.345333,-87.599396,2,2,138,9168,248000,60401
106006,River Street,Lemont,IL,41.676180,-88.000520,1,1,89,17131,180000,60439
106007,Main Street,West Chicago,IL,41.882423,-88.197480,2,2,106,26998,172500,60185
106008,Dogwood Road,Matteson,IL,41.496586,-87.697160,2,2,130,19374,180000,60443

In [32]:
df = df[['address', 'city', 'state', 'postcode', 'latitude', 'longitude', 'bedroom_number', 'bathroom_number', 'square_meter', 'population', 'price']]

In [33]:
df

,address,city,state,postcode,latitude,longitude,bedroom_number,bathroom_number,square_meter,population,price
0,Vista Drive,Juneau,AK,99801,58.285800,-134.414080,3,2,123,32099,450000
1,David Street,Juneau,AK,99801,58.286762,-134.418320,1,1,70,32099,220000
2,Riverside Drive,Juneau,AK,99801,58.397495,-134.583400,2,2,113,32099,329900
3,John Street,Juneau,AK,99801,58.288048,-134.420330,2,2,108,32099,229000
4,Glacier Highway,Juneau,AK,99801,58.384464,-134.655960,2,2,72,32099,279900
...,...,...,...,...,...,...,...,...,...,...,...
106003,Rodenburg Road,Roselle,IL,60172,41.968853,-88.107346,1,1,74,22744,100000
106005,Autumn Drive,Beecher,IL,60401,41.345333,-87.599396,2,2,138,9168,248000
106006,River Street,Lemont,IL,60439,41.676180,-88.000520,1,1,89,17131,180000
106007,Main Street,West Chicago,IL,60185,41.882423,-88.197480,2,2,106,26998,172500
106008,Dogwood Road,Matteson,IL,60443,41.496586,-87.697160,2,2,130,19374,180000

In [18]:
# df['population'] = pd.to_numeric(df['population'])

In [19]:
# df.to_csv('data/df_final.csv')

In [21]:
df

,address,city,state,latitude,longitude,bedroom_number,bathroom_number,square_meter,population,price
0,Vista Drive,Juneau,AK,58.285800,-134.414080,3,2,123,32099,450000
1,David Street,Juneau,AK,58.286762,-134.418320,1,1,70,32099,220000
2,Riverside Drive,Juneau,AK,58.397495,-134.583400,2,2,113,32099,329900
3,John Street,Juneau,AK,58.288048,-134.420330,2,2,108,32099,229000
4,Glacier Highway,Juneau,AK,58.384464,-134.655960,2,2,72,32099,279900
...,...,...,...,...,...,...,...,...,...,...
26434,Rodenburg Road,Roselle,IL,41.968853,-88.107346,1,1,74,22744,100000
26435,Autumn Drive,Beecher,IL,41.345333,-87.599396,2,2,138,9168,248000
26436,River Street,Lemont,IL,41.676180,-88.000520,1,1,89,17131,180000
26437,Main Street,West Chicago,IL,41.882423,-88.197480,2,2,106,26998,172500
26438,Dogwood Road,Matteson,IL,41.496586,-87.697160,2,2,130,19374,180000