In [1]:
import pandas as pd
import numpy as np
from geopy.point import Point
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key='AIzaSyDqtfZoyFxDk9HAY3wZ-Dvuc4goIJoXSIc')

In [2]:
# geolocator = Nominatim(user_agent="ottableaudeveloper2@gmail.com")

In [3]:
df = pd.read_csv('data/clean.csv')

In [4]:
df_copy = df.head(100)
df_copy

,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,square_meter,population
0,Vista Dr,Juneau,AK,58.285800,-134.41408,450000,3,2,123,"32,099"
1,David St,Juneau,AK,58.286762,-134.41832,220000,1,1,70,"32,099"
2,Riverside Dr,Juneau,AK,58.397495,-134.58340,329900,2,2,113,"32,099"
3,John St,Juneau,AK,58.288048,-134.42033,229000,2,2,108,"32,099"
4,Glacier Hwy,Juneau,AK,58.384464,-134.65596,279900,2,2,72,"32,099"
...,...,...,...,...,...,...,...,...,...,...
95,N Star St APT 1,Anchorage,AK,61.200830,-149.90070,259900,2,2,125,"248,902"
96,Potlatch Cir #34,Anchorage,AK,61.201700,-149.90161,369900,3,2,169,"248,902"
97,Eastridge Dr APT 102,Anchorage,AK,61.204580,-149.84189,122500,2,1,84,"248,902"
98,W 23rd Ave APT 12,Anchorage,AK,61.199710,-149.89903,125000,2,1,78,"248,902"
99,Nelchina St APT C5,Anchorage,AK,61.206430,-149.85587,189000,2,2,114,"248,902"

In [5]:
# df_grouped = df.groupby(['street_name', 'city', 'state'])['price'].count()
# df_grouped

In [6]:
df

,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,square_meter,population
0,Vista Dr,Juneau,AK,58.285800,-134.414080,450000,3,2,123,"32,099"
1,David St,Juneau,AK,58.286762,-134.418320,220000,1,1,70,"32,099"
2,Riverside Dr,Juneau,AK,58.397495,-134.583400,329900,2,2,113,"32,099"
3,John St,Juneau,AK,58.288048,-134.420330,229000,2,2,108,"32,099"
4,Glacier Hwy,Juneau,AK,58.384464,-134.655960,279900,2,2,72,"32,099"
...,...,...,...,...,...,...,...,...,...,...
26434,Rodenburg Rd APT 205,Roselle,IL,41.968853,-88.107346,100000,1,1,74,"22,744"
26435,Autumn Dr #1,Beecher,IL,41.345333,-87.599396,248000,2,2,138,"9,168"
26436,River St UNIT 3202,Lemont,IL,41.676180,-88.000520,180000,1,1,89,"17,131"
26437,Main St APT 312,West Chicago,IL,41.882423,-88.197480,172500,2,2,106,"26,998"
26438,Wildflower Rd #1143,Matteson,IL,41.496586,-87.697160,180000,2,2,130,"19,374"

In [20]:
def reverse_geocoding(lat, lon):
    location = geolocator.reverse(Point(lat, lon))
    return location.raw['address_components'][2]

In [21]:
df_copy['address'] = np.vectorize(reverse_geocoding)(df_copy['latitude'], df_copy['longitude'])

C:\Users\ottableaudeveloper2\AppData\Local\Temp\ipykernel_14296\28500492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['address'] = np.vectorize(reverse_geocoding)(df_copy['latitude'], df_copy['longitude'])

In [22]:
df_copy

,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,square_meter,population,address
0,Vista Dr,Juneau,AK,58.285800,-134.41408,450000,3,2,123,"32,099","{'long_name': 'West Juneau', 'short_name': 'We..."
1,David St,Juneau,AK,58.286762,-134.41832,220000,1,1,70,"32,099","{'long_name': 'West Juneau', 'short_name': 'We..."
2,Riverside Dr,Juneau,AK,58.397495,-134.58340,329900,2,2,113,"32,099","{'long_name': 'Mendenhall Valley', 'short_name..."
3,John St,Juneau,AK,58.288048,-134.42033,229000,2,2,108,"32,099","{'long_name': 'West Juneau', 'short_name': 'We..."
4,Glacier Hwy,Juneau,AK,58.384464,-134.65596,279900,2,2,72,"32,099","{'long_name': 'Juneau', 'short_name': 'Juneau'..."
...,...,...,...,...,...,...,...,...,...,...,...
95,N Star St APT 1,Anchorage,AK,61.200830,-149.90070,259900,2,2,125,"248,902","{'long_name': 'North Star', 'short_name': 'Nor..."
96,Potlatch Cir #34,Anchorage,AK,61.201700,-149.90161,369900,3,2,169,"248,902","{'long_name': 'North Star', 'short_name': 'Nor..."
97,Eastridge Dr APT 102,Anchorage,AK,61.204580,-149.84189,122500,2,1,84,"248,902",{'long_name': 'Airport Heights Community Counc...
98,W 23rd Ave APT 12,Anchorage,AK,61.199710,-149.89903,125000,2,1,78,"248,902","{'long_name': 'North Star', 'short_name': 'Nor..."
99,Nelchina St APT C5,Anchorage,AK,61.206430,-149.85587,189000,2,2,114,"248,902","{'long_name': 'Fairview', 'short_name': 'Fairv..."

In [10]:
# df_copy['address'].str.split(',')

In [11]:
# df_copy['address'].split(',')

In [12]:
# df['address'] = np.vectorize(reverse_geocoding)(df['latitude'], df['longitude'])

In [13]:
# https://towardsdatascience.com/transform-messy-address-into-clean-data-effortlessly-using-geopy-and-python-d3f726461225

In [17]:
single_location = geolocator.reverse('64.841385, -147.68657')

In [18]:
print(single_location.raw['address_components'][0:3])

[{'long_name': '302', 'short_name': '302', 'types': ['subpremise']}, {'long_name': '80', 'short_name': '80', 'types': ['street_number']}, {'long_name': 'B Street', 'short_name': 'B St', 'types': ['route']}]

In [19]:
print(single_location.raw['address_components'][2]['long_name'])

B Street